/* You can add global styles to this file, and also import other style files */
html, body {
  width: 100%;
  font-family: Arial;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
  padding-left: 5%;
}

h2.month {
  font-family: "Arial Black";
}

h2.year {
  font-size: 40px;
}

table {
  width: 60%;
  margin: auto;
  float: left;
  margin-left: 5%;
}

td {
  border: 1px solid lightgrey;
  font-size: 11px;

}

th {
  text-align: center;
  padding-top: 15px;
}

.row td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7){
  width: 14%;
  height: 50px;
}

button.btn {
  background-color: #99E1D9;
  font-weight: bold;
  color:black;
}

#nextBtn {
  margin-right:10%;
}

#prevBtn {
  margin-right: 2%;
}

button.btn.btn-danger {
  background-color: #FF6347;
}

h2.year, button.btn {
  display: inline-block;
}

.sidebar {
  background-color: #32292f;
  color: white;
  float: right;
  width: 25%;
  margin-top: 35px;
  margin-right: 10%;
  height: 300px;
  border-radius: 8px 8px 8px 8px;
}

.start {
  float: left;
  width: 50%;
}

.end {
  float:right;
  width: 50%;
  padding-right: 10%;
}

.form {
  padding-top: 375px;
  margin-left: 5%;
}

.thisweek {
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.form-control {
  width: 35%;
}

label {
  margin-right: 10px;
  float: left;
  padding-top: 5px;
}

#date {
  padding-top: 5px;
}

legend {
  margin-top: 20px;
}

.notes {
  margin-top: 9%;
}
