<div class="calendar">
    <header>
        <h2 class="month">{{months[calendarService.displayDate.getMonth()]}}</h2>
        <h2 class="year">{{calendarService.displayDate.getFullYear()}}</h2>
        <button id="nextBtn" class="btn pull-right" (click)=nextMonth()>&gt;</button>
        <button id="prevBtn" class="btn pull-right" (click)=prevMonth()>&lt;</button>
    </header>

    <table>
        <thead class="row"><th class="" *ngFor="let day of days">{{day}}</th></thead>
        <tr class="row" *ngFor="let week of [1,2,3,4,5,6]">
            <td class="" *ngFor="let date of [1,2,3,4,5,6,7]">
                <div #dateElement (click) = "selectDay(+(dateElement.innerText))" *ngIf="isValidDate(calculateDate(week, date))">
                {{calculateDate(week, date)}}
                </div>
                </td>
        </tr>

    </table>
</div>

<div class="create-form">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Create Event
  </button>
  <div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <calendar-form></calendar-form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</div>
<!--
<div class="sidebar">
  <span style="float:right; display:inline; position:relative;">TODO: Build View to display events for the week</span>
</div> -->
