/*td {
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
}
.day-container {
    width: 100%;
    height: 100%;
}*/

/*div.selected {
    background-color: pink;
    width: 100%;
    height: 100%;
}*/
