<div class="calendar">
    <header>
        <h2 class="month">{{months[calendarService.displayDate.getMonth()]}}</h2>
        <h2 class="year">{{calendarService.displayDate.getFullYear()}}</h2>
        <button id="nextBtn" class="btn pull-right" (click)=nextMonth()>&gt;</button>
        <button id="prevBtn" class="btn pull-right" (click)=prevMonth()>&lt;</button> 
    </header>

    <table>
        <thead class="row"><th class="" *ngFor="let day of days">{{day}}</th></thead>
        <tr class="row" *ngFor="let week of [1,2,3,4,5,6]">
            <td class="" *ngFor="let date of [1,2,3,4,5,6,7]">
                <div #dateElement (click) = "selectDay(+(dateElement.innerText))" *ngIf="isValidDate(calculateDate(week, date))">
                {{calculateDate(week, date)}}
                </div>
                </td>
        </tr>

    </table>
    <!-- <calendar-form></calendar-form> -->
</div>
<!--
<div class="sidebar">
  <span style="float:right; display:inline; position:relative;">TODO: Build View to display events for the week</span>
</div> -->
