




<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <header>
                <button ng-click="$ctrl.previous(); $ctrl.getMaxDays();">«</button>
                <h2>{{$ctrl.months[$ctrl.currentMonth]}}</h2>
                <h2>{{$ctrl.currentYear}}</h2>
                <button ng-click="$ctrl.next(); $ctrl.getMaxDays();">»</button>
            </header>
            <table>
                <tr>
                    <td ng-repeat="dayName in $ctrl.days">{{dayName}}</td>
                    <!-- <td>Mon</td>
                    <td>Tue</td>
                    <td>Wed</td>
                    <td>Thu</td>
                    <td>Fri</td>
                    <td>Sat</td> -->
                </tr>
                <tr ng-repeat="weekNum in [1,2,3,4,5,6]">
                    <td  ng-repeat="dayNum in [1,2,3,4,5,6,7]"   >
                        <day ng-hide="$ctrl.isInvalidDate($ctrl.calculateDate(weekNum,dayNum))"  on-select="$ctrl.setSelected(day)" selected-day="$ctrl.selectedDay"  day-number="$ctrl.calculateDate(weekNum,dayNum)"></day>
                    </td>
                </tr>

            </table>
        </div>

        <div class="col-sm-4">
            <h2>This week:</h2>
            <button type="button" class="btn btn-primary" data-toggle="modal"
              data-target="#myModal">View Event</button>
        </div>
      <task-view active-date="$ctrl.selectedID"></task-view>

    </div>
</div>
